body {
  background-color: aquamarine;
}

.calculatorWrapper {
  display: flex;
  max-width: 900px;
  min-height: 400px;
  margin: 0 auto;
  background: white;

}

.leftSide, 
.rightSide{
  float: left;
}

.rightSide button {
  width: 50px;
  display: block;

}