* {
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
    font-size: 62.5%;
  }

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #e4b95e,#ca609e);
  font-family: 'Raleway';
}

h1 {
  text-align: center; 
  color: #6c8b7c;
  font-family: 'Pacifico';
  font-size: 5.7rem;
}

.main-wrapper {
  max-width: 60%;
  min-height: 60%;
  margin: 0 auto;
  /* padding: 30px; */
  /* border: solid 2px blue; */
}

.calculator-wrapper-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 100px);
  padding: 20px;
}

.calculator-wrapper-grid button {
  cursor: pointer;
  font-size: 2.3rem;
  border: 1px solid white;
  outline: none;
  background-color: #92b7e2;
  font-family: 'Fredoka One';
  color:rgb(184, 140, 140);
}

.calculator-wrapper-grid button:hover {
  background-color: #9ed6bb;
  color: #6c8b7c;
}

.span-two {
  grid-row: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(131, 90, 207, 0.75);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  font-family: 'Fredoka One';
}

.output .maths {
  color: white;
  font-size: 4rem;
  margin-bottom: 15px;
}

.output .preview {
  color: white;
  font-size: 1.6rem
  padding-bottom: 5px;
}

.output .previous {
  color: black;
  font-size: 1.6rem;
  padding-bottom: 5px;
}

.error {
  color: red;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 1.6rem;
  color: #6c8b7c;
}